<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:jee="http://www.springframework.org/schema/jee"
             xmlns:lang="http://www.springframework.org/schema/lang"
             xmlns:p="http://www.springframework.org/schema/p"
             xmlns:mvc="http://www.springframework.org/schema/mvc"
             xmlns:jdbc="http://www.springframework.org/schema/jdbc"
             xsi:schemaLocation="http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.1.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">

    <!-- Add support for conversion, formatting and validation support -->
    <context:component-scan base-package="com.example.tstCrudApi" />
    <mvc:annotation-driven />
    <mvc:default-servlet-handler />

    <!-- Define Spring MVC view resolver -->
    <beans:bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <beans:property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <beans:property name="prefix" value="/WEB-INF/jsps/" />
        <beans:property name="suffix" value=".jsp" />
    </beans:bean>

<!--    <beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
<!--        <beans:property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>-->
<!--        <beans:property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521/XEPDB1"/>-->
<!--        <beans:property name="username" value="williams"/>-->
<!--        <beans:property name="password" value="welcome123"/>-->
<!--    </beans:bean>-->

    <jee:jndi-lookup jndi-name="jdbc/XEPDB1" id="dataSource" expected-type="javax.sql.DataSource"/>

    <beans:bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <beans:property name="mapperLocations" value="classpath*:mapper/*.xml"/>
        <beans:property name="configLocation" value="classpath:mybatis-config.xml" />
        <beans:property name="dataSource" ref="dataSource" />
    </beans:bean>

    <beans:bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <beans:property name="basePackage" value="com.example.tstCrudApi.mapper" />
        <beans:property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </beans:bean>

</beans:beans>